# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
raytracer

# CMake
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
CTestTestfile.cmake
Testing/
CMakeFiles/
build/

# Doxygen
/docs/doxygen/html

# Extras
compile_commands.json
